<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CitySensing -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cs.presentation.CsModelWizardID"
            name="%_UI_CsModelWizard_label"
            class="cs.presentation.CsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CsModelFile.gif">
         <description>%_UI_CsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated CitySensing -->
      <editor
            id="cs.presentation.CsEditorID"
            name="%_UI_CsEditor_label"
            icon="icons/full/obj16/CsModelFile.gif"
            extensions="cs"
            class="cs.presentation.CsEditor"
            contributorClass="cs.presentation.CsActionBarContributor">
      </editor>
   </extension>

</plugin>
