<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SocialResource -->
      <package
            uri="http://smr/1.0"
            class="smr.SmrPackage"
            genModel="SocialResource.genmodel"/>
   </extension>

</plugin>
