<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SocialResource -->
      <package
            uri="http://smr/1.0"
            class="smr.SmrPackage"
            genModel="SocialResource.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated City -->
      <package
            uri="http://city/1.0"
            class="city.CityPackage"
            genModel="City.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CitySensing -->
      <package
            uri="http://cs/1.0"
            class="cs.CsPackage"
            genModel="CitySensing.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="SocialResource.evl"
            namespaceURI="http://smr/1.0">
      </constraintsBinding>
      <constraintsBinding
            compose="true"
            constraints="City.evl"
            namespaceURI="http://city/1.0">
      </constraintsBinding>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
            markerType="org.eclipse.emf.ecore.diagnostic">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="aseproject.MarkerResolutionGenerator"
            markerType="http://smr/1.0">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="aseproject.MarkerResolutionGenerator"
            markerType="http://city/1.0">
      </markerResolutionGenerator>
   </extension>

</plugin>
